@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-family: Inter, sans-serif;
    box-sizing: border-box;
}
/* share styles */
.container{
    max-width: 1600px;
    margin: 0 auto;
}
.sec-title{
    font-size: 60px;
    font-weight: 800;
    color: rgba(255, 255, 255, 1);
}
.sec-subtitle{
    font-size: 48px;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
}
.sec-des{
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    opacity: 0.8;
}
.btn-primary{
    background: linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
    border-radius: 10000px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 12px 20px;
    border: none;
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
}
.btn-2{
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 12px 20px;
    color: #00FF88;
    border: 1px solid #00FF88;
    border-radius: 10000px;
    background: transparent;
    cursor: pointer;
}

/* Nav Bar  */
nav {
    box-sizing: border-box;
    border-bottom: 1px solid rgba(65, 37, 103, 1);
    background-color: rgba(26, 11, 46, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 200px;
}
nav img{
    height: 32px;
    width: 219px;
}
.menu{
    display: flex;
    align-items: center;
    gap: 32px;
}
.menu a{
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    opacity: 0.9;
}

/* Hero Section  */
.hero{
    background-image: url(../assets/hero-bg.png);
    height: 760px;
    width: 100%;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.images{
    position: relative;
}
.mic{
    position: absolute;
    right: 120px;
    top: 70px;
}

/* .hero img{
    border: 8px solid rgba(42, 24, 108, 1);
    background-position: center;
    box-sizing: border-box;
    padding: 25PX 25px;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
} */
.new{
    position: absolute;
    top: 10px;
    right: 10px;
    background: rgba(0, 255, 136, 1);
    padding: 8px 16px;
    border-radius: 1000px;
    box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);
}
.hero-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

/* About Section  */
.about{
    background: rgba(26, 11, 46, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 50px 180px 120px 180px;
    text-align: center;
    max-width: 100vw;
}
.about .sec-des{
    line-height: 20px;
}
.experience p{
    margin-top: 10px;
}

/* <!-- Why Choose Section --> */
.why-choose{
    background-color: rgba(35, 14, 61, 1);
    padding: 120px 150px;
}
.choose-card h4{
    font-size: 24px;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
}
.audio{
    grid-area: audio;
}
.mobile-friendly{
    grid-area: mobile;
}
.global-community{
    grid-area: community;
}
.exclusive-interviews{
    grid-area: interviews;
}
.resources{
    grid-area: resources;
}
.choose-card{
    display: grid;
    gap: 20px;
    max-width: 1200px;
    /* padding: 40px; */
    grid-template-areas: 
    "audio      mobile       mobile      mobile      mobile"
    "audio      community      community   community   community"
    "interviews interviews  interviews  interviews    resources";
}
.box-shadow1{
    box-shadow: 0px 0px 8px 0px rgba(53, 17, 101, 0.4);
    background-color: rgba(53, 17, 101, 0.4);
    padding: 40px;
    border-radius: 40px;
}



/* Featured Episodes Section */
.youtube-video{
    width: 100%;
    height: 200px;
    border-radius: 20px 20px 0px 0px;

}
.featured-sec{
    background: rgba(26, 11, 46, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.featured{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10;
    padding: 60px 20px;
}
.featured .sec-subtitle{
    margin-bottom: 30px;
}
.card-container{
    display: flex;
    gap: 20px;
    margin-bottom: 200px;
}
.card{
    display: flex;
    flex-direction: column;
    /* gap: 20px; */

}
.card-container .card .video{
border-radius: 24px 24px 0px 0px;
max-width: 1200px;
}
.card .card-des{
    border-radius: 0px 0px 24px 24px;
    padding: 24px;
    height: 200px;
    /* box-shadow: 0px 0px 8px 0px rgba(37, 13, 68, 1); */
    box-shadow: 0px 0px 8px 0px rgba(53, 17, 101, 0.4);
    background-color: rgba(53, 17, 101, 0.4)
}
.sec-des-head{
    font-size: 24px;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
}
.card-des .time {
    color: #00FF88;
}
/* Meet The Host  */
.host-name{
    color: rgba(255, 255, 255, 1);
    font-size: 32px;
    font-weight: 700;
}
.host h3{
    margin-bottom: 40px;
}
.host{
    padding: 40px;
    background: rgba(53, 17, 101, 0.4);
    border-radius: 40px;
    max-width: 1200px;
    margin-bottom: 40px;
}


/* footer section */
footer{
    background-image: url(../assets/footer-bg.png);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    max-height: 412px;
    padding: 100px 0px;
}
.media{
    display: flex;
    gap: 30px;
}



/* ..............Responsive............ */

@media screen and (max-width: 576px){
    /* nav bar  */
    nav{
        padding: 16px 20px;
    }
    .menu, .nav-btn{
        display: none;
    }
    .hamburger{
        width: 30px;
    }
/* shared styles */
    .sec-subtitle{
        font-size: 32px;
        font-weight: 700;
        color: rgba(255, 255, 255, 1);
    }
 
/* hero section */
    .mic{
        height: 100px;
        width: 100px;
        right: 50px;
        top: 50px;
    }
    .circle{
        height: 200px;
        width: 200px;
    }
    .new{
        right: -20px;
        top: 10px;
    }
    .hero{
        height: 100%;
    }
/* About Section  */
    .about{
        padding: 10px;
        /* height: 100%; */
        /* margin-bottom: 20px; */
    }
    .experience{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
/* why choose section */
    .why-choose{
        padding: 10px 10px;
        height: 100%;
    }
    .choose-card{
        grid-template-areas: 
        "audio "
        " mobile"
        "community"
        "interviews"
        "resources";
    }
/* Featured Episodes Section */
    .featured{
        padding: 10px;
    }
    .card-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        margin-bottom: 20px;
    }
    
/* Meet the host  */
    .host-container{
        flex-direction: column;
        text-align: center;
    }
    .host{
        padding: 10px;
    }
    .link {
        justify-content: center;
        align-items: center;
    }
/* footer section  */
    .media{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
    }
    footer{
        height: 100%;
        padding: 10px 0px;
        gap: 5px;
    }
}