*{
    margin: 0;
}
/* share styles */
.sec-title{
    font-size: 60px;
    font-weight: 800;
    color: rgba(255, 255, 255, 1);
}
.sec-subtitle{
    font-size: 48px;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
}
.sec-des{
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    opacity: 0.8;
}
.btn-primary{
    background: linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
    border-radius: 10000px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 12px 20px;
    border: none;
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
}
.btn-2{
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 12px 20px;
    color: #00FF88;
    border: 1px solid #00FF88;
    border-radius: 10000px;
    background: transparent;
    cursor: pointer;
}

/* Nav Bar  */
nav {
    box-sizing: border-box;
    border-bottom: 1px solid rgba(65, 37, 103, 1);
    background-color: rgba(26, 11, 46, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 200px;

}
.menu{
    display: flex;
    align-items: center;
    gap: 32px;
}
.menu a{
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    opacity: 0.9;
}

/* Hero Section  */
.hero{
    background-image: url(../assets/hero-bg.png);
    height: 760px;
    width: 100vw;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.hero img{
    border: 8px solid rgba(42, 24, 108, 1);
    background-image: url(../assets/hero-circle.png);
    background-position: center;
    box-sizing: border-box;
    padding: 8PX 40PX 16PX 40PX;
    width: 200px;
    height: 200px;
    border-radius: 30px;
}
.new{
    position: absolute;
    top: 290px;
    right: 480px;
    background: rgba(0, 255, 136, 1);
    padding: 8px 16px;
    border-radius: 1000px;
    box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);
}
.hero-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}